/* Button.css */
/* All the styling on the button   */

.custom-button {
  width: 300px;
  font-size: 32px;
  height: 115px;
  padding: 8px 16px; /* Adjust padding as needed */
  border: none;
  border-radius: 50%;
  background-color: var(--main); /* Blue shade */
  color: white;
  cursor: pointer;
  box-shadow: none;
  transition: box-shadow 0.3s ease; /* Smooth hover effect */
}

.custom-button:hover {
  box-shadow: 0 4px 8px rgba(23, 99, 180, 0.3); /* Light shadow on hover */
  background-color: #126B7D; /* Darker blue shade on hover */
}
