/* Stlying for default/homepage  */
/* Defining root vars (color scheme) */


/* Styling for basic background */
body.home-page {
  /* background-color: var(--neut-2); */
}
/* Headings 1  */
h1 {
  font-size: 10rem;
  font-family: Helvetica, 'Public Sans', sans-serif;
  color: var(--sec-1);
}
/* Smaller Headings  */
h2 {
  padding: 5px;
  font-size: 5rem;
  text-align: center;
  color: var(--sec-1);
}

.App-header {
  text-align: center;
  height: 85vh;
  background-color: var(--neut-1);
  width: 50vw;
  margin: auto;
  margin-top: 10vh;
  padding: 10px;
  border-radius: 10px;

}

/* Styling for the button */
