/* Styling for 404 page  */
/* body {
  background-color: var(--neut-1);
}  */
/* Changed the color of the heading  */
.err_cont h1 {
  color: var(--sec-2);
}
/* Pppp  */
.err_cont p {
  font-size: 2.3rem;
  padding-top: 5%;
  font-family:'Courier New', Courier, monospace;
}
.err_cont img {
  margin: 10px auto 20px;
  display: block;
}