/* Styling for 404 page  */
/* body {
  background-color: var(--neut-1);
} */
/* Changed the color of the heading  */
/* h1 {
  color: var(--sec-2);
} */
/* Pppp  */
/* p {
  font-size: 2.3rem;
  padding-top: 5%;
  font-family:'Courier New', Courier, monospace;
} */