/* Button.css */

:root {
  --main: #126B7D;
  --sec-1: #92140C;
  --sec-2: #B6863E;
  --neut-1: #FCF8EB;
  --neut-2: #011627;
}

.custom-button {
  width: 300px;
  font-size: 32px;
  height: 115px;
  padding: 8px 16px; /* Adjust padding as needed */
  border: none;
  border-radius: 50%;
  background-color: var(--main); /* Blue shade */
  color: white;
  cursor: pointer;
  box-shadow: none;
  transition: box-shadow 0.3s ease; /* Smooth hover effect */
}

.custom-button:hover {
  box-shadow: 0 4px 8px rgba(19, 112, 212, 0.3); /* Light shadow on hover */
  background-color: #0b4450; /* Darker blue shade on hover */
}
